<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets</title>
    <link rel="stylesheet" href="style.css">
    <link rel="web icon" href="/icons/key.png">
</head>
<body>
    <div class="container">

    <img id="key-img" src="icons/key-solid.svg">
    <div class="secret-text">Secrets</div>
    <div class="warning-text">Don't keep your secrets, share them anonymously!</div>
    <hr>

    <div class="form-container">
        <form action="/" method="post">
            <button id="register-btn" name="button" value="register">Register</button>
    </form>
    
    <form action="/" method="post">
        <button id="login-btn" name="button" value="login">Login</button>
    </form>
    </div>


    </div>  
</body>
</html>