<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets</title>
    <link rel="stylesheet" href="/secrets.css">
    <link rel="web icon" href="/icons/key.png">
</head>
<body>
    
<div class="container">

    <div class="user-secret">
        <img src="icons/user-secret-solid.svg">
    </div>
    
<div class="header">
    You've Discovered My Secret, <%= name %>!
</div>

<div id="my-secret">Despite i have been surfing for 2 years, i'm still bad at it.</div>

    <hr>

<div class="form-div">
    <form action="/secrets" method="post">

    <button name="button" value="logout" id="logout-btn">Log Out</button>
    <button name="button" value="submit_secret" id="submit-btn">Submit a Secret</button>

    <button name="button" value="settings" id="settings-btn">Settings</button>

    </form>
    
</div>

</div>

</body>
</html>