body{
    background-color: rgb(230, 230, 230);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:2rem;
}

.user-secret{
    width: 12%;
}

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 340%;
}

#my-secret{
    background-color: black;
    color:#fff;
    font-size: 170%;
    position: relative;
    top:0.5rem;
}

.form-div{
    width: 100%;
}

form{
    display: flex;
    justify-content: center;
    gap:1rem;
    position: relative;
    top:1rem;
}

hr{
    background-color: black;
    height: 0,1rem;
    width: 60%;
    position: relative;
    top:1rem;
}

.form-div form button{
    height: 2.5rem;
    width: 5%;
    border-style: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    position: relative;
    top:0.5rem;
}

#logout-btn{
    background-color: #fff;
    color:black;
    transition: 1s;
}

#logout-btn:hover{
    background-color: rgb(46, 46, 46);
    color:#fff;
}

#submit-btn{
    width: 9%;
    background-color: rgb(46, 46, 46);
    color:#fff;
    transition: 1s;
}

#submit-btn:hover{
    width: 9%;
    background-color: #fff;
    color:black;
    transition: 1s;
}

#settings-btn{
    position: absolute;
    background-color: #c6c6c6;
    width: 15%;
    top:4rem;
    transition: 1s;
}

#settings-btn:hover{
    background-color: rgb(156, 156, 156);
    color:#fff;
}

@media (max-width:1290px){
    .user-secret{
        width: 14%;
    }
    #logout-btn{
        width: 6%;
    }
    
    #submit-btn{
        width: 12%;
    }

    #logout-btn:hover{
        width: 6%;
    }
    
    #submit-btn:hover{
        width: 12%;
    }

    .header{
        font-size: 300%;
    }

}

@media(max-width:1170px){
    .user-secret{
        width: 16%;
    }
    .header{
        font-size: 270%;
    }

    #my-secret{
        font-size: 150%;
    }

    #logout-btn{
        width: 7%;
    }
    
    #submit-btn{
        width: 13.5%;
    }

    #logout-btn:hover{
        width: 7%;
    }
    
    #submit-btn:hover{
        width: 13.5%;
    }

}

@media(max-width:1053px){
    .user-secret{
        width: 17%;
    }

    .header{
        font-size: 250%;
    }

    #my-secret{
        font-size: 150%;
    }

    #logout-btn{
        width: 8%;
    }
    
    #submit-btn{
        width: 14%;
    }

    #logout-btn:hover{
        width: 8%;
    }
    
    #submit-btn:hover{
        width: 14%;
    }

}

@media(max-width:980px){
    .user-secret{
        width: 20%;
    }
    .header{
        font-size: 230%;
    }

    #my-secret{
        font-size: 145%;
    }

    #logout-btn{
        width: 9%;
    }
    
    #submit-btn{
        width: 15.5%;
    }

    #logout-btn:hover{
        width: 9%;
    }
    
    #submit-btn:hover{
        width: 15.5%;
    }

}

@media(max-width:895px){

    .user-secret{
        width: 21%;
    }

    .header{
        font-size: 210%;
    }

    #my-secret{
        font-size: 135%;
    }

    #logout-btn{
        width: 10%;
    }
    
    #submit-btn{
        width: 17%;
    }

    #logout-btn:hover{
        width: 10%;
    }
    
    #submit-btn:hover{
        width: 17%;
    }

}

@media(max-width:824px){
.user-secret{
    width: 21%;
}

    .header{
        font-size: 290%;
        width: 75%;
    }

    #my-secret{
        font-size: 160%;
    }

    #logout-btn{
        width: 11%;
        height: 3rem;
    }
    
    #submit-btn{
        width: 19%;
        height: 3rem;
    }

    #logout-btn:hover{
        width: 11%;
        height: 3rem;
    }
    
    #submit-btn:hover{
        width: 19%;
        height: 3rem;
    }

    #settings-btn{
        height: 3rem;
    }

}

@media(max-width:775px){
    .user-secret{
        width: 25%;
    }
        .header{
            font-size: 260%;
            width: 75%;
        }
    
        #my-secret{
            font-size: 140%;
        }

        #logout-btn{
            width: 13%;
        }
        
        #submit-btn{
            width: 23%;
        }
    
        #logout-btn:hover{
            width: 13%;
        }
        
        #submit-btn:hover{
            width: 23%;
        }

        #settings-btn{
            width: 19%;
        }
    
    }

    @media(max-width:682px){
            .header{
                font-size: 250%;
                width: 80%;
            }
        
        } 

    
@media(max-width:620px){
    .user-secret{
         width: 32%;
     }    

     .header{
        font-size: 220%;
        width: 82%;
     }

     #my-secret{
        font-size: 180%;
     }

     #logout-btn{
        width: 15%;
    }
    
    #submit-btn{
        width: 27%;
    }

    #logout-btn:hover{
        width: 15%;
    }
    
    #submit-btn:hover{
        width: 27%;
    }

    #settings-btn{
        width: 25%;
    }

    }
        

@media(max-width:531px){
    .user-secret{
        width: 37%;
    }   

    .header{
        font-size: 200%;
    }
    
    #my-secret{
        font-size: 140%;
    }

    #logout-btn{
        width: 17%;
    }
    
    #submit-btn{
        width: 32%;
    }

    #logout-btn:hover{
        width: 17%;
    }
    
    #submit-btn:hover{
        width: 32%;
    }

    #settings-btn{
        width: 29%;
    }


}

@media(max-width:484px){
    .header{
        font-size: 180%;
        width: 75%;
    }


}

@media (max-width:438px){
    .user-secret{
        width: 45%;
    }

    .header{
        font-size: 160%;
    }

    #my-secret{
        font-size: 120%;
    }

    #logout-btn{
        width: 19%;
    }
    
    #submit-btn{
        width: 37%;
    }

    #logout-btn:hover{
        width: 19%;
    }
    
    #submit-btn:hover{
        width: 37%;
    }

    #settings-btn{
        width: 34%;
    }
}

@media (max-width:392px){
    .user-secret{
        width: 50%;
    }

    .header{
        font-size: 145%;
        font-weight: 600;
    }

    #my-secret{
        font-size: 120%;
    }

    #logout-btn{
        width: 21%;
    }
    
    #submit-btn{
        width: 40%;
    }

    #logout-btn:hover{
        width: 21%;
    }
    
    #submit-btn:hover{
        width: 40%;
    }

    #settings-btn{
        width: 37%;
    }
}

@media(max-width:367px){
    .header{
        font-size: 155%;
        font-weight: 600;
        width: 100%;
    } 
    #my-secret{
        font-size: 116%;
    }

    #logout-btn{
        width: 25%;
    }
    
    #submit-btn{
        width: 45%;
    }

    #logout-btn:hover{
        width: 25%;
    }
    
    #submit-btn:hover{
        width: 45%;
    }

    #settings-btn{
        width: 42%;
    }
    
}

